.costDate {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    background-color: #1f2833;
    color: #fefae1;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

.costDateMonth {
    font-size: 0.75rem;
    font-weight: bold;
}

.costDateYear {
    font-size: 0.75rem;
}

.costDateDay {
    font-size: 1.5rem;
    font-weight: bold;
}
